

<h1 class="header"><%= @list.name %></h1>
<br>
<p><%= link_to "Add movie to list", new_list_bookmark_path(@list) %></p>
<br>
<% @list.bookmarks.each do |bm| %>
  <div class="container">
    <div class="card-product">
      <%= image_tag bm.movie.poster_url %>
      <div class="card-product-infos">
          <h2><%= bm.movie.title %></h2>
          <p><%= bm.movie.overview %></p>
          <p><%= bm.comment %></p>
          <p><%= bm.movie.rating %><i class="fa-solid fa-star"></i></p>
        </div>
      <div class="trash-icon">
        <%= link_to '<i class="fa-solid fa-dumpster"></i>'.html_safe, bookmark_path(bm), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this?"} %>
      </div>
    </div>
  </div>
  </div>
<% end %>
<br>
<p class="home-btn"><%= link_to '<i class="fa-solid fa-house-chimney"></i>'.html_safe, lists_path %></p>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
<%# <div class="card-poster"><%= image_tag bm.movie.poster_url , :style => "width: 100px; object-fit: contain;" %>

<!--
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>


<% @list.bookmarks.each do |bm| %>
  <div class="container">
    <div class="card-product">
        <h2><%= bm.movie.title %></h2>
        <p><%= bm.movie.overview %></p>
           <%= image_tag bm.movie.poster_url , :style => "width: 100px; object-fit: contain;" %></div>
        <p><%= bm.comment %></p>
        <%= link_to '<i class="fa-solid fa-dumpster"></i>'.html_safe, bookmark_path(bm), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this?"} %>
    </div>
  </div>
<% end %>
-->
