<h1>Find films</h1>

<%= simple_form_for [@list, @bookmark] do |x| %>
<%= x.association :movie %>
<%= x.input :comment, label: "What did you think if this film?" %>
<%= x.submit "Add to list!" %>
<% end %>

<p><%= link_to '<i class="fa-solid fa-house-chimney"></i>'.html_safe, lists_path %></p>
