<h1>lets get bookmarky</h1>

<%= simple_form_for [@list, @bookmark] do |x| %>
<%= x.association :movie %>
<%= x.input :comment, label: "What did you think if this film?" %>
<%= x.submit "Create New bookmark" %>
<% end %>

<p><%= link_to "🔙", lists_path %></p>
